/*
    NAVIGATE TO TOP
*/
.react-divcreator-buttons-navigation__to-top{
    width:50px;
    height:50px;
    border-radius:50%;
    background:rgba(30,50,80,7);
    cursor:pointer;
}
.react-divcreator-buttons-navigation__to-top-arrow{
    font-size:22px;
    font-weight: 600;
    color:rgb(255,255,255);
    text-align:center;
    line-height:45px;
}
/*
    NAVIGATE TO BOTTOM
*/
.react-divcreator-buttons-navigation__to-bottom{
    width:50px;
    height:50px;
    border-radius:50%;
    background:rgba(30,50,80,7);
    cursor:pointer;
}
.react-divcreator-buttons-navigation__to-bottom-arrow{
    font-size:22px;
    font-weight: 600;
    color:rgb(255,255,255);
    text-align:center;
    line-height:45px;
}