/*
    MENU ANIMATION 
*/
.react-divcreator-menuanimation-custom{
    display: inline-block;
    position: relative;
    
    @keyframes show-single-item-menu-animation-custom {
        from {
            opacity:0;
            z-index:-1;
        }
      
        to {
            opacity:1;
            z-index:2;
        }
    }

    .react-divcreator-menuanimation-holder{
        top:0px;
        min-height: 100px;
        height:auto;
        overflow: hidden;
        overflow-y:auto;
        z-index:1;
        transition-duration:500ms;
        box-sizing: border-box;
        padding:10px 20px;
        opacity:0;
        animation: show-single-item-menu-animation-custom 200ms ease-out forwards;
    }
    .react-divcreator-menuanimation-holder-accordion{
        width: 100%;
        overflow-y: auto;
        overflow-x:hidden;
        z-index:1;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        z-index:-1;
    }
    .react-divcreator-menuanimation-holder-accordion.header-menu-animation{
        z-index:1;
    }

    .header-menu-animation{
        z-index:-1;
        opacity:0;
        border-radius: 5px;
        transition-duration: 200ms;
        animation: show-single-item-menu-animation-custom 200ms ease-out forwards;
    }
    .react-divcreator-accordion {
        position: relative;
        z-index:1;
        box-shadow: none;
        overflow: visible;
    }
    .react-divcreator-accordion-entrypoint{
        box-sizing: border-box;
        width:100%;
        padding:0;
        box-sizing: border-box;
        height:50px;
        line-height:40px;
        border-bottom:1px solid gray;
        margin-left:20px;
        height: auto;
    }
    .accordions-link{
        position:relative;
        text-decoration: none;
        color:gray;
        font-size:15px;
        transition-duration:300ms;
    }
    .accordions-link:hover{
        color:#003979;
    }
    .border{
        border:1px solid rgba(99,99,99,0.5);
        border-radius:50%;
    }
    a{
        text-decoration: none;
    }
    .react-divcreator-menuanimation-icons--custom{
        background: transparent;
        overflow: hidden;
        position: relative;
        z-index: 3;
    }
}